<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restaurante?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root99</property>
    <property name="hibernate.show_sql">true</property>

    <mapping class="Bean.BeanLogin" />
    <mapping class="Bean.BeanCadMesa" />
    <mapping class="Bean.BeanItensMesa" />
    <mapping class="Bean.BeanSagest11" />
    <mapping class="Bean.BeanSagest12" />
    <mapping class="Bean.BeanSagest13" />
    <mapping class="Bean.BeanSagest14" />
    <mapping class="Bean.BeanSagest16" />
    <mapping class="Bean.BeanMesa" />
    <mapping class="Bean.BeanPedido" />
    <mapping class="Bean.BeanSagrec30" />
    <mapping class="Bean.BeanSagrec60" />
    <mapping class="Bean.BeanSagven63" />

    <mapping class="Bean.BeanSagger01" />
    <mapping class="Bean.BeanSagger02" />

    <mapping class="Bean.BeanSagven63" />


  </session-factory>
</hibernate-configuration>


